@{
    ViewData["Title"] = "Magic Store - Owner";
}

<h2>Welcome to the Owner Management Page</h2>
<h3>Select the operation you want to perform</h3>

<p><a asp-area="" asp-controller="OwnerInventories" asp-action="Index">Display Owner Inventory</a></p>
<p><a asp-area="" asp-controller="StockRequests" asp-action="Index">Display Stock Requests</a></p>