@{
    ViewData["Title"] = "Magic Store - Franchise Holder";
}

<h2>Welcome to the Franchise Holder Management Page</h2>
<h3>Select the operation you want to perform</h3>

<p><a asp-area="" asp-controller="StoreInventories" asp-action="Index">Display Store Inventory</a></p>
<p><a asp-area="" asp-controller="StockRequests" asp-action="ThresholdInput">Create Stock Request (Threshold)</a></p>
<p><a asp-area="" asp-controller="StoreInventories" asp-action="IndexNotInStore">Create Stock Request - New Product</a></p>


