@model MagicStore.Models.StockRequest

@{
    ViewData["Title"] = "Magic Store";
}

<h2>New Stock Request</h2>

<h4>We have created correctly processed your stock request</h4>
<hr />

<div>
    <a asp-controller="Owner" asp-action="Index">Back to Menu</a>
</div>

