@model MagicStore.Models.CartProduct
@{
    ViewData["Title"] = "Magic Store";
}

<h2>Add Product to Cart</h2>
<br />

<h4>Your product has successfully been added to the shopping cart</h4>
<p><a asp-area="" asp-controller="Stores" asp-action="Index">Continue Shoppings</a></p>
