@{
    ViewData["Title"] = "Magic Store - Customer";
}

<h2>Welcome Back Customer</h2>
<h3>Select the operation you want to perform</h3>

<p><a asp-area="" asp-controller="Stores" asp-action="Index">Display Available Stores</a></p>
<p><a asp-area="" asp-controller="Customer" asp-action="Orders">Order History</a></p>

